.park-image {
  margin-top: 30px;
  margin-bottom: 30px;
    max-width: 300px;
    max-height: 3000px;
    width: 300px; /* Set the width of the park image */
    height: 400px; /* Set the height of the park image */
    object-fit: cover; /*Ensure the image covers the specified dimensions*/
  }
  


/* Add this style for the main image in the selected park images section */
.main-image {
  width: 300px;
  height: 300px;
  object-fit: cover; /* This ensures the main image covers the area without stretching */
}

  .image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-thumbnails img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
  }
  
  .image-thumbnails img.selected {
    border: 2px solid blue; /* Highlight the selected thumbnail */
  }

  .dashboard-container {
    margin-left:20px;
  }

  button {
    display: block;
    margin-top: 20px;
    margin-bottom:50px;
  }

  .park-item {
    width: calc(33.33% - 20px); /* 20px is the total margin and padding space between items */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
  }

/* Add this CSS to your stylesheet (Dashboard.css or any other appropriate file) */
.first-park-image {
  width: 300px;
  height: 300px;
  object-fit: cover; /* This ensures the image covers the area without stretching */
}

  .selected-park-images h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .selected-park-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .selected-park-images p {
    font-size: 16px;
    color: #555;
  }

  .thumbnail-container {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
/* Add this style for thumbnail images in the selected park images section */
.thumbnail {
  width: 100px; /* Adjust the width of the thumbnails as needed */
  height: 100px; /* Adjust the height of the thumbnails as needed */
  object-fit: cover; /* This ensures the thumbnails cover the area without stretching */
  margin-right: 10px; /* Add margin between the thumbnail images */
}
  
  .thumbnail:last-child {
    margin-right: 0;
  }
  

  @media only screen and (max-width: 1200px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .park-list {
      order: 2;
    }
  
    .Map {
      order: 1;
    }
  
    .park-item {
      width: 100%;
    }
  
    .comment-input,
    .comment-submit-button {
      width: 100%;
    }
  
    .selected-park-images {
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .park-item {
      margin-bottom: 10px;
    }
  
    .comment-box {
      margin-top: 5px;
    }
  
    .comment-input,
    .comment-submit-button {
      font-size: 14px;
    }
  }