.park-image {
  margin-top: 30px;
  margin-bottom: 30px;
    max-width: 750px;
    max-height: 750px;
  }
  
  .image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-thumbnails img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
  }
  
  .image-thumbnails img.selected {
    border: 2px solid blue; /* Highlight the selected thumbnail */
  }

  .dashboard-container {
    margin-left:20px;
  }

  button {
    display: block;
    margin-top: 20px;
    margin-bottom:50px;
  }

  .park-item {
    width: calc(33.33% - 20px); /* 20px is the total margin and padding space between items */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
  }
  
  .park-image {
    width: 400px; /* Set the width of the park image */
    height: 400px; /* Set the height of the park image */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
  }

  .selected-park-images {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .selected-park-images h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .selected-park-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .selected-park-images p {
    font-size: 16px;
    color: #555;
  }

  .thumbnail-container {
    display: flex;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .thumbnail:last-child {
    margin-right: 0;
  }