.park-image {
    max-width: 400px;
    max-height: 400px;
  }
  
  .image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-thumbnails img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
  }
  
  .image-thumbnails img.selected {
    border: 2px solid blue; /* Highlight the selected thumbnail */
  }