html {
    color: white;
}
#form-container {
    display: block;
    width:300px;
    margin:auto;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    box-shadow: 5px 5px 10px;
}

.auth-links-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .auth-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }